NODE_ENV=""

JWT_SECRET_ACCESS_TOKEN=""
JWT_SECRET_REFRESH_TOKEN=""

DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB?schema=public"
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

PORT=5000